<div class="web-container p-2">
  <div class="d-flex justify-content-center gap-4">
    <div class="filter-container d-flex flex-column justify-content-between">
      <div class="filterLabel fontRoboto text-center">
        FILTERS
      </div>
      <div class="d-flex flex-column gap-5">
        <div class="dropdown" [ngClass]="{'show': isOpen}">
          <button class="dropdown-btn dropdown-toggle" type="button"
            [ngClass]="isOpen ? 'dropdown-open' : 'dropdown-close'" (click)="toggleDropdown()" aria-expanded="false">
            Movies Name
            <i [ngClass]="isOpen ? 'bi-caret-up-fill' : 'bi-caret-down-fill'"
              [style.color]="isOpen ? 'white' : 'green'"></i>
          </button>
          <ul class="dropdown-menu" [ngClass]="{'show': isOpen}">
            <li>
              <input type="checkbox" class="checkbox me-2"
              (change)="toggleMovieSelection('4',$event)" />
              Episode IV
            </li>
          </ul>
        </div>
        <div class="dropdown" [ngClass]="{'show': isOpen1}">
          <button class="dropdown-btn dropdown-toggle" type="button"
            [ngClass]="isOpen1 ? 'dropdown-open' : 'dropdown-close'" (click)="toggleDropdown1()" aria-expanded="false">
            Species
            <i [ngClass]="isOpen1 ? 'bi-caret-up-fill' : 'bi-caret-down-fill'"
              [style.color]="isOpen1 ? 'white' : 'green'"></i>
          </button>
          <ul class="dropdown-menu" [ngClass]="{'show': isOpen1}">
            <li><input type="checkbox" class="checkbox me-2" (change)="toggleSpecieselection('Human',$event)" />Human</li>
          </ul>
        </div>
        <div class="dropdown" [ngClass]="{'show': isOpen2}">
          <button class="dropdown-btn dropdown-toggle" type="button"
            [ngClass]="isOpen2 ? 'dropdown-open' : 'dropdown-close'" (click)="toggleDropdown2()" aria-expanded="false">
            Vehicle
            <i [ngClass]="isOpen2 ? 'bi-caret-up-fill' : 'bi-caret-down-fill'"
              [style.color]="isOpen2 ? 'white' : 'green'"></i>
          </button>
          <ul class="dropdown-menu" [ngClass]="{'show': isOpen2}">
            <li><input type="checkbox" class="checkbox me-2" /></li>
          </ul>
        </div>
        <div class="dropdown" [ngClass]="{'show': isOpen3}">
          <button class="dropdown-btn dropdown-toggle" type="button"
            [ngClass]="isOpen3 ? 'dropdown-open' : 'dropdown-close'" (click)="toggleDropdown3()" aria-expanded="false">
            Birth Year
            <i [ngClass]="isOpen3 ? 'bi-caret-up-fill' : 'bi-caret-down-fill'"
              [style.color]="isOpen3 ? 'white' : 'green'"></i>
          </button>
          <ul class="dropdown-menu" [ngClass]="{'show': isOpen3}">
            <li><input type="checkbox" class="checkbox me-2" (change)="toggleBirthSelection('30BBY and 5ABY',$event)" />30 BBY
              and 5 ABY</li>
          </ul>
        </div>
      </div>
    
      <button class="search mt-5" (click)="searchItem()">SEARCH</button>
    </div>
    <div class="search-container">
      <div class="fontRoboto fontcolor searchLabel">SEARCH RESULTS</div>
      <div class="defaulttext">(By Default this table will have all data)</div>
     <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="table-light">
            <th scope="col">SI No.</th>
            <th scope="col">Character Name</th>
            <th scope="col">Species</th>
            <th scope="col">Birth Year</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-secondary" *ngFor="let character of characterList; let i = index">
            <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td (click)="getCharacterDetails(character.url)">{{ character.name }}</td>
            <td>{{ character.speciesName || '-' }}</td>
            <td>{{ character.birth_year }}</td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class="pagination d-flex justify-content-end align-items-center gap-2">
        <div>Page {{ currentPage }}/{{ totalPages }}</div>
        <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
        </svg>
      </button>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
        </svg>
      </button>
      </div>
    </div>


  </div>
</div>